.btn {
  border: medium none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: normal;
  line-height: 1.4;
  padding: 10px 12px;
  transition: all 0.25s linear 0s;
}

.btn-shaded {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(0, 0, 0, 0.05) inset, 0 2px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(0, 0, 0, 0.05) inset, 0 2px 0 rgba(255, 255, 255, 0.3) inset;
}

.btn-lg {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 18px;
  line-height: 1.33;
  padding: 10px 16px;
}

.btn-sm {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 13px;
  line-height: 1.5;
  padding: 4px 8px;
}

.btn-xs {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.5;
  padding: 1px 5px;
}

.btn-lg {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.471;
  padding: 10px 20px;
}

.btn-thin {
  border: 1px solid #BDC3C7;
  color: #BDC3C7;
  background: none;
}

.btn-default {
  background-color: #BDC3C7;
  color: #FFFFFF;
  &:hover, &:focus, &:active, &.active {
    background-color: #CACFD2;
    border-color: #CACFD2;
    color: #FFFFFF;
  }
}

.open .dropdown-toggle.btn-default {
  background-color: #CACFD2;
  border-color: #CACFD2;
  color: #FFFFFF;
}

.btn-default {
  &:active, &.active {
    background: #A1A6A9;
  }
}

.open .dropdown-toggle.btn-default {
  background: #A1A6A9;
}

.btn-default {
  &.disabled, &[disabled] {
    background-color: #BDC3C7;
  }
}

fieldset[disabled] .btn-default {
  background-color: #BDC3C7;
}

.btn-default {
  &.disabled:hover, &[disabled]:hover {
    background-color: #BDC3C7;
  }
}

fieldset[disabled] .btn-default:hover {
  background-color: #BDC3C7;
}

.btn-default {
  &.disabled:focus, &[disabled]:focus {
    background-color: #BDC3C7;
  }
}

fieldset[disabled] .btn-default:focus {
  background-color: #BDC3C7;
}

.btn-default {
  &.disabled:active, &[disabled]:active {
    background-color: #BDC3C7;
  }
}

fieldset[disabled] .btn-default:active {
  background-color: #BDC3C7;
}

.btn-default {
  &.disabled.active, &.active[disabled] {
    background-color: #BDC3C7;
  }
}

fieldset[disabled] .btn-default.active {
  background-color: #BDC3C7;
}

.btn-light-gray {
  background-color: #dddddd;
  color: #FFFFFF;
  &:hover, &:focus, &:active, &.active {
    background-color: #CACFD2;
    border-color: #CACFD2;
    color: #FFFFFF;
  }
}

.open .dropdown-toggle.btn-light-gray {
  background-color: #CACFD2;
  border-color: #CACFD2;
  color: #FFFFFF;
}

.btn-light-gray {
  &:active, &.active {
    background: #A1A6A9;
  }
}

.open .dropdown-toggle.btn-light-gray {
  background: #A1A6A9;
}

.btn-primary {
  background-color: #16A085;
  border-color: #16A085;
  color: #fff;
  &:hover, &:focus, &:active, &.active {
    background-color: #149078;
    border-color: #149078;
    color: #FFFFFF;
  }
}

.open .dropdown-toggle.btn-primary {
  background-color: #149078;
  border-color: #149078;
  color: #FFFFFF;
}

.btn-primary {
  &.active {
    &.focus, &:focus, &:hover {
      background-color: #028c71;
      border-color: #028c71;
      color: #FFFFFF;
    }
  }
  &.focus:active {
    background-color: #028c71;
    border-color: #028c71;
    color: #FFFFFF;
  }
  &:active {
    &:focus, &:hover {
      background-color: #028c71;
      border-color: #028c71;
      color: #FFFFFF;
    }
  }
}

.open > .dropdown-toggle.btn-primary {
  &.focus, &:focus, &:hover {
    background-color: #028c71;
    border-color: #028c71;
    color: #FFFFFF;
  }
}

.btn-primary-dark {
  background-color: #028c71;
  border-color: #028c71;
  color: #fff;
  &:hover, &:focus, &:active, &.active {
    background-color: #008166;
    border-color: #008166;
    color: #FFFFFF;
  }
}

.open .dropdown-toggle.btn-primary-dark {
  background-color: #008166;
  border-color: #008166;
  color: #FFFFFF;
}

.btn-info {
  background-color: #e4cb65;
  color: #FFFFFF;
  &:hover, &:focus, &:active, &.active {
    background-color: #C1AC59;
    border-color: #C1AC59;
    color: #FFFFFF;
  }
}

.open .dropdown-toggle.btn-info {
  background-color: #C1AC59;
  border-color: #C1AC59;
  color: #FFFFFF;
}

.btn-info {
  &:active, &.active {
    background: #C1AC59;
  }
}

.open .dropdown-toggle.btn-info {
  background: #C1AC59;
}

.btn-info {
  &.disabled, &[disabled] {
    background-color: #3498DB;
  }
}

fieldset[disabled] .btn-info {
  background-color: #3498DB;
}

.btn-info {
  &.disabled:hover, &[disabled]:hover {
    background-color: #3498DB;
  }
}

fieldset[disabled] .btn-info:hover {
  background-color: #3498DB;
}

.btn-info {
  &.disabled:focus, &[disabled]:focus {
    background-color: #3498DB;
  }
}

fieldset[disabled] .btn-info:focus {
  background-color: #3498DB;
}

.btn-info {
  &.disabled:active, &[disabled]:active {
    background-color: #3498DB;
  }
}

fieldset[disabled] .btn-info:active {
  background-color: #3498DB;
}

.btn-info {
  &.disabled.active, &.active[disabled] {
    background-color: #3498DB;
  }
}

fieldset[disabled] .btn-info.active {
  background-color: #3498DB;
}

.btn-danger {
  background-color: #E74C3C;
  color: #FFFFFF;
  &:hover, &:focus, &:active, &.active {
    background-color: #EC7063;
    border-color: #EC7063;
    color: #FFFFFF;
  }
}

.open .dropdown-toggle.btn-danger {
  background-color: #EC7063;
  border-color: #EC7063;
  color: #FFFFFF;
}

.btn-post {
  &:hover, &:active {
    background-color: #EC7063;
    border-color: #EC7063;
    color: #FFFFFF;
  }
}

.btn-danger {
  &:active, &.active {
    background: #C44133;
  }
}

.open .dropdown-toggle.btn-danger {
  background: #C44133;
}

.btn-danger {
  &.disabled, &[disabled] {
    background-color: #E74C3C;
  }
}

fieldset[disabled] .btn-danger {
  background-color: #E74C3C;
}

.btn-danger {
  &.disabled:hover, &[disabled]:hover {
    background-color: #E74C3C;
  }
}

fieldset[disabled] .btn-danger:hover {
  background-color: #E74C3C;
}

.btn-danger {
  &.disabled:focus, &[disabled]:focus {
    background-color: #E74C3C;
  }
}

fieldset[disabled] .btn-danger:focus {
  background-color: #E74C3C;
}

.btn-danger {
  &.disabled:active, &[disabled]:active {
    background-color: #E74C3C;
  }
}

fieldset[disabled] .btn-danger:active {
  background-color: #E74C3C;
}

.btn-danger {
  &.disabled.active, &.active[disabled] {
    background-color: #E74C3C;
  }
}

fieldset[disabled] .btn-danger.active {
  background-color: #E74C3C;
}

.btn-post:hover {
  background-color: #EC7063 !important;
  border-color: #EC7063 !important;
  color: #FFFFFF !important;
}

.btn-post {
  &:focus, &:active, &.active {
    background-color: #EC7063 !important;
    border-color: #EC7063 !important;
    color: #FFFFFF !important;
  }
}

.open .dropdown-toggle.btn-post {
  background-color: #EC7063 !important;
  border-color: #EC7063 !important;
  color: #FFFFFF !important;
}

.btn-post {
  &:hover, &:active {
    background-color: #EC7063 !important;
    border-color: #EC7063 !important;
    color: #FFFFFF !important;
  }
}

.btn-success {
  background-color: #2ECC71;
  color: #FFFFFF;
  &:hover, &:focus, &:active, &.active {
    background-color: #58D68D;
    border-color: #58D68D;
    color: #FFFFFF;
  }
}

.open .dropdown-toggle.btn-success {
  background-color: #58D68D;
  border-color: #58D68D;
  color: #FFFFFF;
}

.btn-success {
  &:active, &.active {
    background: #27AD60;
  }
}

.open .dropdown-toggle.btn-success {
  background: #27AD60;
}

.btn-success {
  &.disabled, &[disabled] {
    background-color: #2ECC71;
  }
}

fieldset[disabled] .btn-success {
  background-color: #2ECC71;
}

.btn-success {
  &.disabled:hover, &[disabled]:hover {
    background-color: #2ECC71;
  }
}

fieldset[disabled] .btn-success:hover {
  background-color: #2ECC71;
}

.btn-success {
  &.disabled:focus, &[disabled]:focus {
    background-color: #2ECC71;
  }
}

fieldset[disabled] .btn-success:focus {
  background-color: #2ECC71;
}

.btn-success {
  &.disabled:active, &[disabled]:active {
    background-color: #2ECC71;
  }
}

fieldset[disabled] .btn-success:active {
  background-color: #2ECC71;
}

.btn-success {
  &.disabled.active, &.active[disabled] {
    background-color: #2ECC71;
  }
}

fieldset[disabled] .btn-success.active {
  background-color: #2ECC71;
}

.btn-warning {
  background-color: #F1C40F;
  color: #FFFFFF;
  &:hover, &:focus, &:active, &.active {
    background-color: #F5D313;
    border-color: #F5D313;
    color: #FFFFFF;
  }
}

.open .dropdown-toggle.btn-warning {
  background-color: #F5D313;
  border-color: #F5D313;
  color: #FFFFFF;
}

.btn-warning {
  &:active, &.active {
    background: #CDA70D;
  }
}

.open .dropdown-toggle.btn-warning {
  background: #CDA70D;
}

.btn-warning {
  &.disabled, &[disabled] {
    background-color: #F1C40F;
  }
}

fieldset[disabled] .btn-warning {
  background-color: #F1C40F;
}

.btn-warning {
  &.disabled:hover, &[disabled]:hover {
    background-color: #F1C40F;
  }
}

fieldset[disabled] .btn-warning:hover {
  background-color: #F1C40F;
}

.btn-warning {
  &.disabled:focus, &[disabled]:focus {
    background-color: #F1C40F;
  }
}

fieldset[disabled] .btn-warning:focus {
  background-color: #F1C40F;
}

.btn-warning {
  &.disabled:active, &[disabled]:active {
    background-color: #F1C40F;
  }
}

fieldset[disabled] .btn-warning:active {
  background-color: #F1C40F;
}

.btn-warning {
  &.disabled.active, &.active[disabled] {
    background-color: #F1C40F;
  }
}

fieldset[disabled] .btn-warning.active {
  background-color: #F1C40F;
}

.btn-inverse {
  background-color: #34495E;
  color: #FFFFFF;
  &:hover, &:focus, &:active, &.active {
    background-color: #415B76;
    border-color: #415B76;
    color: #FFFFFF;
  }
}

.open .dropdown-toggle.btn-inverse {
  background-color: #415B76;
  border-color: #415B76;
  color: #FFFFFF;
}

.btn-inverse {
  &:active, &.active {
    background: #2C3E50;
  }
}

.open .dropdown-toggle.btn-inverse {
  background: #2C3E50;
}

.btn-inverse {
  &.disabled, &[disabled] {
    background-color: #34495E;
  }
}

fieldset[disabled] .btn-inverse {
  background-color: #34495E;
}

.btn-inverse {
  &.disabled:hover, &[disabled]:hover {
    background-color: #34495E;
  }
}

fieldset[disabled] .btn-inverse:hover {
  background-color: #34495E;
}

.btn-inverse {
  &.disabled:focus, &[disabled]:focus {
    background-color: #34495E;
  }
}

fieldset[disabled] .btn-inverse:focus {
  background-color: #34495E;
}

.btn-inverse {
  &.disabled:active, &[disabled]:active {
    background-color: #34495E;
  }
}

fieldset[disabled] .btn-inverse:active {
  background-color: #34495E;
}

.btn-inverse {
  &.disabled.active, &.active[disabled] {
    background-color: #34495E;
  }
}

fieldset[disabled] .btn-inverse.active {
  background-color: #34495E;
}

.fb_button {
  background: #658AD0;
  color: #FFFFFF;
  display: block;
  text-align: center;
  text-decoration: none;
}

.btn-fb {
  background: #658AD0;
  color: #FFFFFF;
}

.fb_button:hover, .btn-fb:hover {
  background: #4E6FAE;
  color: #fff;
  text-decoration: none;
}

.btn-tw {
  background: #1DADEB;
  color: #FFFFFF;
  &:hover {
    background: #35C5FF;
    color: #fff;
    text-decoration: none;
  }
}

.btn-border {
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset, 1px 1px 0 rgba(0, 0, 0, 0.1) inset;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.btn-border-thin {
  margin-bottom: 5px;
  padding: 3px 4px;
  border: 1px solid #ddd;
}

.btn-post {
  font-family: $base-font-condensed;
  font-weight: normal;
  text-transform: uppercase;
}

button.btn-search {
  border-radius: 0 !important;
  font-size: 18px;
  height: 48px;
  letter-spacing: -0.5px;
  text-shadow: 0 2px 2px #20a759;
  text-transform: uppercase;
}
